<section>
  <div class="row">
    <div class='col-lg-1'></div>
    <div class='col-lg-10'>
      <h1 class="text-center text-white">Star Wars API</h1>
      <br/>
      <p class="text-lead text-center text-white">By Declan McConvey and Stephen McConkey</p>
    </div>
    <div class='col-lg-1'></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <h5 class="card-header">Make your selections</h5>
            <div class="card-body">
              <h5 class="card-title">Choose a category:</h5>
              <select class="form-control" [(ngModel)]='category'>
                  <option *ngFor='let option of optionsList'>{{option.opt}}</option>
                </select>
              <br/>
              <br/>
              <h5 class="card-title">Choose an ID:</h5>
              <div class="form-group">
                  <!-- <input  min="0" max="50"  class="form-control" type="number" id="example-number-input"> -->
                  <input class="form-control" min="1" max="50 "type="number" id="example-number-input" [(ngModel)]='itemID' />
                </div>
                  <div class="col text-center">
                      <button (click)='handleClickEvent()' class="btn btn-primary text-center">Find</button>
                  </div>
                  <br/>
                  <br/>
                  <div *ngIf="notFound == true" class="alert alert-danger" role="alert">
                    {{ category }} ID {{ itemID }} - Not Found!
                  </div>
                  <hr>
                  <div *ngIf="notFound != true">
                      Name: {{dataSet.name}}
                      <pre>{{dataSet | json}}</pre>
                  </div>
            </div>
          </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</section>